{
  "env": {
    "browser": true,
    "es2021": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "extends": ["prettier", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "bracketSpacing": true
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off"
  }
}
